<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celebrity Recognizer</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="#">Celebrity Recognizer</a>
    </nav>

    <div class="container">
        <div class="row">
        <div class="col card-wrapper" data-player="chiranjeevi">
                
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/chiranjeevi.jpg') }}" alt="Chiranjeevi">
                    </div>
                    <div class="card-body text-center mt-4">
                        
                        <h4>Chiranjeevi</h4>
                        </p>
                    </div>
                
            </div>            
            <div class="col card-wrapper" data-player="deepika_padukone">
                    
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="{{ url_for('static', filename='images/deepika.jpg') }}" alt="Deepika Padukone">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4>Deepika Padukone</h4>
                            </p>
                        </div>
                    
            </div>            
            <div class="col card-wrapper" data-player="nani">
                    
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="{{ url_for('static', filename='images/nani.jpg') }}" alt="Nani">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4>Nani</h4>
                            </p>
                        </div>
                    
            </div>          

            <div class="col card-wrapper" data-player="prabhas">
                
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/prabhas.jpg') }}" alt="Prabhas">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4>Prabhas</h4>
                        </p>
                    </div>
                
            </div>      

            <div class="col card-wrapper" data-player="priyanka_chopra">
                
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/priyanka.jpg') }}" alt="Priyanka Chopra">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4>Priyanka Chopra</h4>
                        </p>
                    </div>
                
            </div>
            <div class="col card-wrapper" data-player="ram_charan">
                
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/ramcharan.jpg') }}" alt="Ram Charan">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4>Ram Charan</h4>
                        </p>
                    </div>
                
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-7 mx-auto">
                        <form action="/file-upload" class="dropzone" id="dropzone">
                            <div class="dz-message needsclick">
                                <!-- <img src="{{ url_for('static', filename='images/upload.png') }} width="50vw" height="50vw"><br> -->
                                <img src="{{ url_for('static', filename='images/upload.png') }}" width="50" height="50"><br>

                                <span class="note needsclick">Drop files here or click to upload</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3 mx-auto">
                        <button id="submitBtn" type="button" class="btn btn-success">Classify</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-8 error" id="error" >
                <p>Can't classify image. Classifier was not able to detect face and two eyes properly</p>    
            </div>

            <div class="col-sm-4" id="resultHolder">
            </div>
            <div class="col-sm-4" id="divClassTable">
                <table id="classTable">
                        <tr>
                            <th>Player</th>
                            <th>Probability Score</th>
                        </tr>
                        <tr>
                            <td>Chiranjeevi</td>
                            <td id="score_chiranjeevi"></td>
                        </tr>
                        <tr>
                            <td>Deepika Padukone</td>
                            <td id="score_deepika_padukone"></td>
                        </tr>
                        <tr>
                            <td>Nani</td>
                            <td id="score_nani"></td>
                        </tr>
                        <tr>
                            <td>Prabhas</td>
                            <td id="score_prabhas"></td>
                        </tr>
                        <tr>
                            <td>Jennifer Lawrence</td>
                            <td id="score_priyanka_chopra"></td>
                        </tr>
                        <tr>
                            <td>Ram Charan</td>
                            <td id="score_ram_charan"></td>
                        </tr>
                </table>
            </div>
            
        </div>

    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='dropzone.min.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

</html>